.vs/
**/.vs/

bin/
**/bin/

obj/
**/obj/

Debug/
**/Debug/

Release/
**/Release/

x64/
**/x64/

x86/
**/x86/

*.user
*.suo
*.userosscache
*.sdf
*.opensdf

*.pdb
*.ilk
*.ipdb
*.iobj
*.dll
*.exe

*.tlog
*.log

.vscode/
